body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #e6e8f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    padding-bottom: 50px;
    background-image: url('../images/site1.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header styles */
header {
    background: darkgreen;
    color: white;
    padding: 1.9rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tulane-logo,
.custom-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
}

.tulane-logo:hover,
.custom-logo:hover {
    transform: translateY(-60%) perspective(3000px) rotateY(15deg);
}

.tulane-logo {
    right: 40px;
    height: 110px;
}

.custom-logo {
    left: 40px;
    height: 135px;
}

header::after {
    content: '';
    position: absolute;
    bottom: 25px;
    height: 10px;
    background-image: linear-gradient(to right, rgba(86, 80, 42, 0), rgba(255, 223, 0, 0.75), rgba(86, 80, 42, 0));
    width: 90%;
}

/* Form styles */
form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    margin: 2rem auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Shared input styles */
input[type='text'], .submit-button, .toggle-switch {
    border-radius: 4px;
}

/* Input field styles */
input[type='text'] {
    width: 95%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

/* Button styles */
.submit-button {
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 50px;
    padding: 1rem 2rem;
    width: auto;
}
.submit-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.submit-button input[type='submit'] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    background: none;
    color: inherit;
}

.submit-button:hover, .submit-button input[type='submit']:hover {
    background-color: #005500;
}

/* Error message styles */
.flashes, .form-errors {
    padding: 1rem;
    background: lightyellow;
    border-left: 5px solid gold;
    margin: 1rem auto;
    width: 80%;
    color: darkred;
}

/* Conversation styles */
.conversation {
    margin: 2rem auto;
    width: 80%;
    background: rgba(249, 249, 249, 0.7); /* Slightly transparent */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.conversation h2 {
    margin-bottom: 1rem;
}

.conversation .entry {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conversation .entry.User {
    background: rgba(173, 216, 230, 0.9); /* Different color for user text box */
    text-align: right;
    margin-left: 40%;
}

.conversation .entry.Response {
    background: rgba(255, 235, 205, 0.9); /* Different color for response text box */
    text-align: left;
    margin-right: 40%;
}

@media (max-width: 768px) {
    .conversation .entry.User,
    .conversation .entry.Response {
        margin: 0;
        text-align: left;
    }
}

/* Style for the advice form */
#advice_form {
    background-color: #004225; /* Dark green background */
    padding: 10px;
    width: 300px; /* Smaller width */
    border-radius: 5px;
}

#advice_form label {
    color: #ffffff; /* White color for the label text */
    display: block; /* Makes the label take the full width */
    margin-bottom: 5px;
}

#advice_form input[type="text"] {
    width: 100%; /* Full width of the form */
    padding: 8px;
    margin-bottom: 10px; /* Space below the input field */
    border: 1px solid #007245; /* Slightly lighter green border */
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's width */
}

#advice_form .submit-button {
    background-color: #007245; /* Slightly lighter green for the button */
    color: #ffffff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width of the form */
}

#advice_form .submit-button:hover {
    background-color: #005831; /* Even darker green when hovered */
}