<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/TU AIdvisor Logo.png') }}" alt="AIdvisor Logo" class="custom-logo">
        <h1>Tulane Academic Advisor Chatbot</h1>
        <img src="{{ url_for('static', filename='images/Tulane_University_Logo.svg.png') }}" alt="Tulane Logo" class="tulane-logo">
    </header>
    <div class="background-container">
        
        
       
        





        <div class="container">
            {% if conversation %}
            <div class="conversation">
                <h2>Conversation:</h2>
                {% for entry in conversation %}
                <div class="entry {{ entry.type }}">
                    <p><strong>{{ entry.type.capitalize() }}:</strong> {{ entry.text | safe }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}

           
            

       
            <form method="POST" action="/">
                <label for="user_input"></label>
                <input type="text" id="user_input" placeholder = "Ask any Tulane Specific Questions!" name ="user_input" required>
                <button type="submit" class="submit-button">Submit</button>
            </form>
                <!-- 
                <div class="controls">
                    <div class="toggle-switch">
                        <input type="checkbox" id="search-toggle" name="search-mode" class="toggle-checkbox" {% if search_mode == 'Academic Expert' %}checked{% endif %}>
                        <label for="search-toggle" class="toggle-label">
                            <span class="switch-text-right">Academic Expert</span>
                            <span class="switch-text-left">General Advice</span>
                        </label>
                    </div>
                </div>
                
            </form>
        -->

        <form id="advice_form" method="POST" action="{{ url_for('main.submit_advice') }}">
            <label for="advice_input">Add some advice and I'll update the knowledge base:</label>
            <input type="text" id="advice_input" name="advice_input" required>
            <button type="submit" class="submit-button">Submit</button>
        </form>
            
            
            
            
        </div>
        
    </div>
    
    

</body>
</html>