<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Tulane Academic Advisor Chatbot</h1>
    </div>
    <div class="container">
        <form method="POST">
            <label for="user_input">Ask any Tulane Specific Questions!</label>
            <input type="text" id="user_input" name="user_input" required>
            <button type="submit">Submit</button>
        </form>
        {% if conversation %}
        <div class="conversation">
            <h2>Conversation:</h2>
            <div class="conversation-container">
                {% for entry in conversation %}
                <div class="conversation-entry {{ entry.type }}">
                    <p><strong>{{ entry.type.capitalize() }}:</strong> {{ entry.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
